*{
  margin:0;
  padding:0;
}
body{
    text-align: center;
    background-color: burlywood;
    text-decoration: whitesmoke;
}
.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0,0,1rem , rgb(0,0,0,0,3);
    font-size: 7vmin;
    color: red;
    background-color: white;
}
.reset{
    padding: 2rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    size: 10px;
}